Repository skip-mev/connect, pull requests merged in 2024-07, with the labels that each got.

#566 feat: Switch over provider
  cmd/constants/providers.go
  cmd/slinky/main.go
  providers/apis/dydx/api_handler.go
  providers/apis/dydx/switch_over_fetcher.go
  providers/apis/dydx/switch_over_fetcher_test.go
  providers/apis/dydx/utils.go
  providers/apis/marketmap/client.go
  providers/factories/oracle/marketmap.go
Labels: preview, vpn, marketmap_provider=dydx_migration_api

#579 docs: rename slinky to connect in our docs [BLO-1456]
  docs/favicon.ico
  docs/favicon.png
  docs/img/connect-arch.png
  docs/img/connect-banner.png
  docs/img/connect-customers.png
  docs/img/connect-town-crier.png
  docs/img/favicon.ico
  docs/img/slinky-arch.png
  docs/img/slinky-banner.png
  docs/img/slinky-town-crier.png
  docs/img/slinky_customers.png
  docs/integrations/dydx.mdx
  docs/integrations/neutron.mdx
  docs/logo/dark.png
  docs/logo/dark.svg
  docs/logo/light.png
  docs/logo/light.svg
  docs/mint.json
  docs/overview.mdx
  docs/security-properties.mdx
  docs/slashing.mdx
  docs/upcoming-work.mdx
  docs/using-connect/high-level.mdx
  docs/using-connect/neutron-sdk.mdx
  docs/validator/flags-guide.mdx
  docs/validator/quickstart.mdx
  docs/validator/rpc-providers.mdx
  docs/validator/troubleshooting.mdx
  docs/validator/validator-app-config.mdx
  docs/validator/validator-connect-config.mdx
Labels: preview, vpn, marketmap_provider=dydx_migration_api

#571 feat: [BLO-1444] Bitstamp API Provider
  cmd/constants/marketmaps/markets.go
  cmd/constants/providers.go
  docs/validator/validator-connect-config.mdx
  oracle/config/README.md
  providers/apis/README.md
  providers/apis/bitstamp/README.md
  providers/apis/bitstamp/api_handler.go
  providers/apis/bitstamp/api_handler_test.go
  providers/apis/bitstamp/utils.go
  providers/apis/dydx/parse.go
  providers/factories/oracle/api.go
Labels: preview, vpn, marketmap_provider=dydx_research

#589 feat: [BLO-1508] Configuring amount of subscriptions sent in a single batch/message
  cmd/slinky/config/config_test.go
  oracle/config/oracle_test.go
  oracle/config/provider_test.go
  oracle/config/websocket.go
  oracle/config/websocket_test.go
  oracle/oracle_test.go
  providers/base/provider_test.go
  providers/base/websocket/handlers/ws_query_handler_test.go
  providers/websockets/binance/messages.go
  providers/websockets/binance/utils.go
  providers/websockets/binance/ws_data_handler_test.go
  providers/websockets/bitfinex/utils.go
  providers/websockets/bitstamp/utils.go
  providers/websockets/bybit/messages.go
  providers/websockets/bybit/parse.go
  providers/websockets/bybit/utils.go
  providers/websockets/bybit/ws_data_hander_test.go
  providers/websockets/bybit/ws_data_handler.go
  providers/websockets/coinbase/messages.go
  providers/websockets/coinbase/utils.go
  providers/websockets/coinbase/ws_data_handler.go
  providers/websockets/coinbase/ws_data_handler_test.go
  providers/websockets/cryptodotcom/messages.go
  providers/websockets/cryptodotcom/utils.go
  providers/websockets/cryptodotcom/ws_data_handler.go
  providers/websockets/cryptodotcom/ws_data_handler_test.go
  providers/websockets/gate/messages.go
  providers/websockets/gate/utils.go
  providers/websockets/gate/ws_data_handler.go
  providers/websockets/gate/ws_data_handler_test.go
  providers/websockets/huobi/utils.go
  providers/websockets/kraken/messages.go
  providers/websockets/kraken/parse.go
  providers/websockets/kraken/utils.go
  providers/websockets/kraken/ws_data_handler.go
  providers/websockets/kraken/ws_data_handler_test.go
  providers/websockets/kucoin/messages.go
  providers/websockets/kucoin/utils.go
  providers/websockets/kucoin/ws_data_handler.go
  providers/websockets/kucoin/ws_data_handler_test.go
  providers/websockets/mexc/messages.go
  providers/websockets/mexc/utils.go
  providers/websockets/mexc/ws_data_handler.go
  providers/websockets/mexc/ws_data_handler_test.go
  providers/websockets/okx/messages.go
  providers/websockets/okx/utils.go
  providers/websockets/okx/ws_data_handler.go
  providers/websockets/okx/ws_data_handler_test.go
Labels: preview, vpn, marketmap_provider=dydx_research

#597 fix: Subscribe to market data channels instead of public for OKX
  providers/websockets/okx/messages.go
  providers/websockets/okx/parse.go
  providers/websockets/okx/ws_data_handler.go
  providers/websockets/okx/ws_data_handler_test.go
Labels: preview, vpn, marketmap_provider=dydx_research

#598 feat: Price Daemon
  oracle/config/app.go
  oracle/config/app_test.go
  service/clients/oracle/client.go
  service/clients/oracle/daemon.go
  service/clients/oracle/daemon_test.go
  tests/integration/go.mod
  tests/integration/go.sum
  tests/integration/slinky_setup.go
  tests/simapp/app.go
  tests/simapp/slinkyd/testappd/root.go
Labels: preview, vpn, core_markets

#622 feat: Refresh prices on heartbeats
  oracle/types/provider.go
  providers/base/fetch.go
  providers/base/provider_test.go
  providers/websockets/huobi/ws_data_handler.go
  providers/websockets/huobi/ws_data_handler_test.go
  providers/websockets/kucoin/ws_data_handler.go
  providers/websockets/kucoin/ws_data_handler_test.go
Labels: preview, vpn, marketmap_provider=dydx_research

#607 feat: osmosis provider
  Makefile
  cmd/constants/marketmaps/markets.go
  cmd/constants/marketmaps/markets_test.go
  cmd/constants/providers.go
  cmd/slinky/config/config.go
  contrib/compose/docker-compose-dev.yml
  pkg/grpc/client_test.go
  pkg/http/round_tripper_with_headers.go
  providers/apis/defi/osmosis/client.go
  providers/apis/defi/osmosis/client_test.go
  providers/apis/defi/osmosis/mocks/client.go
  providers/apis/defi/osmosis/price_fetcher.go
  providers/apis/defi/osmosis/price_fetcher_test.go
  providers/apis/defi/osmosis/types.go
  providers/apis/defi/osmosis/types_test.go
  providers/apis/defi/raydium/price_fetcher.go
  providers/apis/defi/raydium/types.go
  providers/factories/oracle/api.go
  providers/types/errors.go
  scripts/genesis.go
  scripts/genesis.sh
  tests/integration/go.mod
  tests/integration/go.sum
  x/marketmap/types/tickermetadata/dydx_test.go
Labels: preview, vpn, osmosis

#635 feat: Change default to the aws okx endpoint
  providers/websockets/okx/utils.go
Labels: preview, vpn, core_markets
