Repository skip-mev/connect, pull requests merged in 2024-05, with the labels that each got.

#388 chore: Update configs for API providers
  config/core/oracle.json
  config/dydx/oracle.json
  config/local/oracle.json
  providers/apis/binance/utils.go
  providers/apis/coinbase/utils.go
  providers/apis/kraken/utils.go
Labels: preview, market=dydx, vpn

#390 feat: Separate ws subscribe requests
  providers/websockets/bybit/messages.go
  providers/websockets/bybit/ws_data_hander_test.go
  providers/websockets/coinbase/messages.go
  providers/websockets/coinbase/ws_data_handler_test.go
  providers/websockets/cryptodotcom/messages.go
  providers/websockets/cryptodotcom/ws_data_handler_test.go
  providers/websockets/gate/messages.go
  providers/websockets/gate/ws_data_handler_test.go
  providers/websockets/kraken/messages.go
  providers/websockets/kraken/ws_data_handler_test.go
  providers/websockets/kucoin/messages.go
  providers/websockets/kucoin/ws_data_handler_test.go
  providers/websockets/mexc/messages.go
  providers/websockets/mexc/ws_data_handler_test.go
  providers/websockets/okx/messages.go
  providers/websockets/okx/ws_data_handler_test.go
Labels: preview, market=dydx

#391 feat: DYDX research-JSON market-map provider [BLO-1173]
  Makefile
  cmd/slinky-config/main.go
  config/dydx_research/market.json
  config/dydx_research/oracle.json
  pkg/arrays/arrays.go
  pkg/arrays/arrays_test.go
  providers/apis/dydx/api_handler.go
  providers/apis/dydx/multi_market_map_fetcher.go
  providers/apis/dydx/multi_market_map_fetcher_test.go
  providers/apis/dydx/parse.go
  providers/apis/dydx/research_api_handler.go
  providers/apis/dydx/research_api_handler_test.go
  providers/apis/dydx/types/research_json.go
  providers/apis/dydx/utils.go
  providers/factories/oracle/marketmap.go
  service/clients/marketmap/types/types.go
Labels: preview, vpn, market=dydx_research

#401 chore: clean out `core/oracle.json`
  config/core/oracle.json
Labels: preview, vpn, market=core

#408 feat: Add exact HTTP codes for metrics collection
  Makefile
  grafana/provisioning/dashboards/side-car-dashboard.json
  providers/base/api/metrics/api_query_handler.go
Labels: preview, vpn, market=dydx_research

#399 feat: use the enabled field from `MarketMap`
  Makefile
  cmd/slinky-config/main.go
  config/core/market.json
  config/dydx/market.json
  config/local/market.json
  oracle/orchestrator/helpers_test.go
  oracle/orchestrator/lifecycle.go
  oracle/types/market.go
  oracle/types/market_test.go
  pkg/math/oracle/aggregator.go
  pkg/math/oracle/helper_test.go
  providers/apis/dydx/helper_test.go
  providers/apis/dydx/multi_market_map_fetcher_test.go
  providers/apis/dydx/parse.go
  providers/apis/dydx/parse_test.go
  providers/apis/dydx/research_api_handler_test.go
  providers/base/api/handlers/api_query_handler_test.go
  tests/integration/slinky_suite.go
  x/marketmap/types/market.go
  x/marketmap/types/market_test.go
  x/marketmap/types/ticker.go
Labels: preview, vpn, market=core

#423 feat: Run Update on initial provider startup
  oracle/orchestrator/lifecycle.go
Labels: vpn, market=core

#421 feat: Rotating Logs that can be Stored Locally by Default
  cmd/slinky/main.go
  go.mod
  pkg/log/zap.go
  providers/base/api/handlers/api_query_handler.go
  providers/base/api/handlers/rest_api_price_fetcher.go
  providers/base/websocket/handlers/ws_query_handler.go
Labels: preview, vpn, market=core

#426 feat: json and grpc metrics collection for providers
  cmd/client/main.go
  cmd/slinky/main.go
  config/local/market.json
  config/local/oracle.json
  oracle/orchestrator/init.go
  providers/apis/defi/ethmulticlient/client.go
  providers/apis/defi/ethmulticlient/multi_client.go
  providers/apis/defi/ethmulticlient/multi_client_test.go
  providers/apis/defi/raydium/client.go
  providers/apis/defi/raydium/multi_client.go
  providers/apis/defi/raydium/multi_client_test.go
  providers/apis/defi/raydium/price_fetcher.go
  providers/apis/defi/raydium/price_fetcher_test.go
  providers/apis/defi/uniswapv3/fetcher.go
  providers/apis/defi/uniswapv3/fetcher_test.go
  providers/apis/marketmap/client.go
  providers/apis/marketmap/fetcher.go
  providers/apis/marketmap/fetcher_test.go
  providers/base/api/handlers/api_query_handler.go
  providers/base/api/handlers/api_query_handler_test.go
  providers/base/api/handlers/rest_api_price_fetcher.go
  providers/base/api/metrics/api_query_handler.go
  providers/base/api/metrics/constants.go
  providers/base/api/metrics/mocks/mock_metrics.go
  providers/factories/oracle/api.go
  providers/factories/oracle/marketmap.go
  tests/integration/go.mod
  tests/integration/go.sum
Labels: preview, vpn, market=local

#456 fix: Add API config to Kucoin
  cmd/constants/providers.go
Labels: preview, vpn, market=core

#460 feat: Add crypto.dom to core
  config/core/market.json
  providers/websockets/cryptodotcom/utils.go
  providers/websockets/cryptodotcom/ws_data_handler.go
Labels: preview, vpn, market=core

#461 chore: Deprecate URL in our configurations
  cmd/slinky-config/main.go
  cmd/slinky/config/config.go
  cmd/slinky/config/config_test.go
  cmd/slinky/main.go
  oracle/config/api.go
  oracle/config/api_test.go
  oracle/config/oracle_test.go
  oracle/config/provider_test.go
  oracle/config/websocket.go
  oracle/config/websocket_test.go
  oracle/oracle_test.go
  oracle/orchestrator/helpers_test.go
  oracle/orchestrator/init_test.go
  oracle/providers_test.go
  providers/apis/binance/api_handler.go
  providers/apis/binance/api_handler_test.go
  providers/apis/binance/utils.go
  providers/apis/coinbase/api_handler.go
  providers/apis/coinbase/utils.go
  providers/apis/coingecko/api_handler.go
  providers/apis/coingecko/utils.go
  providers/apis/defi/ethmulticlient/client.go
  providers/apis/defi/ethmulticlient/multi_client.go
  providers/apis/defi/raydium/client.go
  providers/apis/defi/raydium/price_fetcher_test.go
  providers/apis/defi/uniswapv3/fetcher.go
  providers/apis/defi/uniswapv3/fetcher_test.go
  providers/apis/defi/uniswapv3/utils.go
  providers/apis/dydx/api_handler.go
  providers/apis/dydx/api_handler_test.go
  providers/apis/dydx/multi_market_map_fetcher.go
  providers/apis/dydx/research_api_handler.go
  providers/apis/dydx/research_api_handler_test.go
  providers/apis/dydx/utils.go
  providers/apis/geckoterminal/api_handler.go
  providers/apis/geckoterminal/utils.go
  providers/apis/kraken/api_handler.go
  providers/apis/kraken/utils.go
  providers/apis/marketmap/client.go
  providers/apis/marketmap/utils.go
  providers/base/api/handlers/api_query_handler_test.go
  providers/base/provider_test.go
  providers/base/websocket/handlers/ws_conn_handler.go
  providers/base/websocket/handlers/ws_query_handler_test.go
  providers/volatile/api_handler.go
  providers/websockets/bitfinex/utils.go
  providers/websockets/bitstamp/utils.go
  providers/websockets/bybit/utils.go
  providers/websockets/coinbase/utils.go
  providers/websockets/cryptodotcom/utils.go
  providers/websockets/gate/utils.go
  providers/websockets/huobi/utils.go
  providers/websockets/kraken/utils.go
  providers/websockets/kucoin/hooks.go
  providers/websockets/kucoin/hooks_test.go
  providers/websockets/kucoin/utils.go
  providers/websockets/mexc/utils.go
  providers/websockets/okx/utils.go
  tests/integration/slinky_ccv_suite.go
  tests/integration/slinky_suite.go
Labels: preview, vpn, market=core

#466 chore: Add Core + Raydium Markets into Exportable Go structs
  cmd/constants/markets.go
  cmd/constants/markets_test.go
Labels: preview, vpn, market=core
