Repository skip-mev/connect, pull requests merged in 2024-08, with the labels that each got.

#648 refactor: change raydium provider to query committed blocks instead of finalized
  providers/apis/defi/raydium/README.md
  providers/apis/defi/raydium/price_fetcher.go
  providers/apis/defi/raydium/price_fetcher_test.go
Labels: preview, vpn, raydium_markets, coinmarketcap

#666 refactor: change polymarket provider to use markets endpoint
  .github/actions/spelling/expect.txt
  .golangci.yml
  cmd/constants/marketmaps/markets.go
  providers/apis/polymarket/README.md
  providers/apis/polymarket/api_handler.go
  providers/apis/polymarket/api_handler_test.go
Labels: preview, vpn, core_markets, raydium_markets, marketmap_provider=marketmap_api, coingecko, coinmarketcap, osmosis, polymarket

#700 fix: get blockheight in osmosis provider
  README.md
  providers/apis/defi/osmosis/client.go
  providers/apis/defi/osmosis/client_test.go
  providers/apis/defi/osmosis/mocks/client.go
  providers/apis/defi/osmosis/price_fetcher.go
  providers/apis/defi/osmosis/price_fetcher_test.go
  providers/apis/defi/osmosis/types.go
Labels: preview, vpn, coinmarketcap, osmosis

#686 chore: Run as user on prod container images
  contrib/images/connect.sidecar.prod.Dockerfile
  contrib/images/slinky.sidecar.prod.Dockerfile
Labels: preview, core_markets

#694 chore: use prod images in e2e
  .github/workflows/build.yml
  Makefile
  contrib/images/connect.sidecar.e2e.Dockerfile
Labels: preview, vpn, core_markets
