Repository skip-mev/connect, pull requests merged in 2024-06, with the labels that each got.

#477 fix: No Proxy on Marketmap Provider
  providers/apis/marketmap/client.go
  scripts/genesis.go
Labels: preview, vpn, core_markets, raydium_markets, marketmap_provider=marketmap_api

#469 chore: remove all unused currency-pair constants [BLO-1321]
  oracle/constants/currency_pairs.go
  oracle/orchestrator/helpers_test.go
  oracle/orchestrator/init_test.go
  pkg/math/oracle/aggregator_test.go
  pkg/math/oracle/helper_test.go
  pkg/math/oracle/utils_test.go
  providers/apis/binance/api_handler_test.go
  providers/apis/binance/utils.go
  providers/apis/coinbase/api_handler_test.go
  providers/apis/coinbase/utils.go
  providers/apis/coingecko/api_handler_test.go
  providers/apis/coingecko/utils.go
  providers/apis/defi/uniswapv3/utils.go
  providers/apis/geckoterminal/api_handler_test.go
  providers/apis/geckoterminal/utils.go
  providers/apis/kraken/api_handler_test.go
  providers/apis/kraken/utils.go
  providers/apis/marketmap/fetcher_test.go
  providers/websockets/bitfinex/utils.go
  providers/websockets/bitfinex/ws_data_handler_test.go
  providers/websockets/bitstamp/utils.go
  providers/websockets/bitstamp/ws_data_handler_test.go
  providers/websockets/bybit/utils.go
  providers/websockets/bybit/ws_data_hander_test.go
  providers/websockets/coinbase/utils.go
  providers/websockets/coinbase/ws_data_handler_test.go
  providers/websockets/cryptodotcom/utils.go
  providers/websockets/cryptodotcom/ws_data_handler_test.go
  providers/websockets/gate/utils.go
  providers/websockets/gate/ws_data_handler_test.go
  providers/websockets/huobi/utils.go
  providers/websockets/huobi/ws_data_handler_test.go
  providers/websockets/kraken/utils.go
  providers/websockets/kraken/ws_data_handler_test.go
  providers/websockets/kucoin/utils.go
  providers/websockets/kucoin/ws_data_handler_test.go
  providers/websockets/mexc/utils.go
  providers/websockets/mexc/ws_data_handler_test.go
  providers/websockets/okx/utils.go
  providers/websockets/okx/ws_data_handler_test.go
  tests/integration/slinky_ccv_suite.go
  tests/integration/slinky_suite.go
  x/marketmap/types/market_test.go
Labels: preview, vpn, marketmap_provider=dydx_research

#462 feat: Add uniswapv3-base
  Makefile
  cmd/constants/markets.go
  cmd/constants/markets_test.go
  cmd/constants/providers.go
  contrib/compose/docker-compose-dev.yml
  oracle/constants/chains.go
  providers/apis/defi/uniswapv3/utils.go
  providers/apis/defi/uniswapv3/utils_test.go
  providers/apis/dydx/parse.go
  scripts/genesis.go
  scripts/genesis.sh
  tests/integration/go.mod
  tests/integration/go.sum
Labels: preview, uniswapv3_base_markets

#483 fix: Lowering timeouts to prevent process from hanging
  .gitignore
  oracle/config/websocket.go
  providers/websockets/bitstamp/utils.go
  tests/integration/go.mod
  tests/integration/go.sum
Labels: preview, vpn, marketmap_provider=dydx_mainnet

#482 feat: decouple ve handler from preblocker [BLO-1327]
  .github/workflows/lint.yml
  abci/preblock/oracle/preblock.go
  abci/preblock/oracle/preblock_test.go
  abci/preblock/oracle/utils.go
  abci/strategies/aggregator/errors.go
  abci/strategies/aggregator/mocks/mock_price_applier.go
  abci/strategies/aggregator/mocks/mock_vote_aggregator.go
  abci/strategies/aggregator/price_applier.go
  abci/strategies/aggregator/price_applier_test.go
  abci/types/interfaces.go
  abci/types/mocks/mock_oracle_keeper.go
  abci/ve/vote_extension.go
  abci/ve/vote_extension_test.go
  go.mod
  tests/integration/go.mod
  tests/simapp/app.go
Labels: preview, vpn, core_markets, marketmap_provider=marketmap_api

#491 feat: Adding Post Connection Timeout + Write Interval Timeouts
  oracle/config/websocket.go
  oracle/config/websocket_test.go
  providers/base/websocket/handlers/ws_query_handler.go
  providers/websockets/bitfinex/utils.go
  providers/websockets/bitstamp/utils.go
  providers/websockets/bybit/utils.go
  providers/websockets/coinbase/utils.go
  providers/websockets/cryptodotcom/utils.go
  providers/websockets/cryptodotcom/ws_data_handler.go
  providers/websockets/gate/utils.go
  providers/websockets/huobi/utils.go
  providers/websockets/kraken/utils.go
  providers/websockets/kucoin/utils.go
Labels: preview, vpn, marketmap_provider=dydx_mainnet

#454 feat: Binance WS Implementation
  cmd/constants/providers.go
  oracle/types/provider.go
  pkg/math/oracle/aggregator.go
  providers/base/fetch.go
  providers/factories/oracle/websocket.go
  providers/websockets/README.md
  providers/websockets/binance/README.md
  providers/websockets/binance/messages.go
  providers/websockets/binance/parse.go
  providers/websockets/binance/utils.go
  providers/websockets/binance/ws_data_handler.go
  providers/websockets/binance/ws_data_handler_test.go
  tests/integration/go.mod
  tests/integration/go.sum
Labels: preview, vpn, core_markets

#481 feat: Update dYdX Research URL
  providers/apis/dydx/helper_test.go
  providers/apis/dydx/parse.go
  providers/apis/dydx/research_api_handler_test.go
  providers/apis/dydx/utils.go
  providers/websockets/kucoin/utils.go
Labels: preview, vpn, marketmap_provider=dydx_research

#509 fix: raydium protocol fee adjustment
  cmd/constants/markets.go
  go.mod
  go.sum
  providers/apis/defi/raydium/price_fetcher.go
  providers/apis/defi/raydium/price_fetcher_test.go
  providers/apis/defi/raydium/schema/amm_info.go
  providers/apis/defi/raydium/types.go
  providers/apis/dydx/parse_test.go
  providers/apis/dydx/utils.go
Labels: preview, vpn, raydium_markets, marketmap_provider=marketmap_api

#522 chore: Update OKX Config in accordance to documentation
  providers/websockets/okx/utils.go
Labels: preview, vpn, marketmap_provider=dydx_research

#503 refactor: consolidate oracle and provider orchestrator
  cmd/slinky/main.go
  oracle/README.md
  oracle/helpers_test.go
  oracle/init.go
  oracle/init_test.go
  oracle/interfaces.go
  oracle/lifecycle.go
  oracle/lifecycle_test.go
  oracle/market_mapper.go
  oracle/market_mapper_test.go
  oracle/metrics_test.go
  oracle/mocks/PriceAggregator.go
  oracle/mocks/mock_oracle.go
  oracle/options.go
  oracle/oracle.go
  oracle/oracle_test.go
  oracle/orchestrator/README.md
  oracle/orchestrator/lifecycle_test.go
  oracle/orchestrator/options.go
  oracle/orchestrator/orchestrator.go
  oracle/orchestrator/update.go
  oracle/providers_test.go
  oracle/update.go
  oracle/update_test.go
  pkg/math/testutils/median.go
  service/servers/oracle/server.go
  service/servers/oracle/server_test.go
Labels: preview, vpn, core_markets, marketmap_provider=marketmap_api

#527 chore: Update offchain ticker for apecoin on coingecko
  cmd/constants/markets.go
Labels: preview, vpn, marketmap_provider=marketmap_api, coingecko

#538 chore: add maga to coingecko
  cmd/constants/markets.go
Labels: preview, vpn, raydium_markets, marketmap_provider=marketmap_api, coingecko
